<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/iconoParadise2.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/03e8e208c1.js" crossorigin="anonymous"></script>
    <title>Carrito de compras</title>
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <img src="images/logoPepModi2.png" alt="logo" class="logo"><!--Acá va air el logo-->
            <h1 id="title">Pet Paradise</h1>
            <div class="container-search">
                <input type="search" class="input_text" placeholder="Buscar productos, marcas">
                <a href="" class="lupa">
                <i class="posicion-lupa fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">QUIÉNES SOMOS</a></li>
                <li><a href="#">NOTICIAS</a></li>
                <li><a href="#">DONATIVOS</a></li>
                <li><a href="#">ADOPCIÓN</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">CREÁ TU CUENTA <i class="fa-solid fa-credit-card"></i></a></i></li>
                <li><a href="#">INGRESÁ <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/cart">MIS COMPRAS <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>    
    </header>




</body>
</html>