<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header') %>
            <div class="error--container">
                <div class="label_404-arriba">
                    <h2>Página no encontrada</h2>
                </div>
                <div class="conteiner--ph">
                    <a href="/">
                        <img src="/images/pngwing.com (2).png" alt="foto error 404">
                    </a>
                </div>
                <div class="label_404-abajo">
                    <h5>Para volver al <a href="/">HOME</a> presione en el cocodrilo</h3>
                </div>
            </div>
            <%- include('../partials/footer') %>
    </body>

</html>