* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #f26419;
  --orange: #f6ae2d;
  --dark-blue: #33658a;
  --light-blue: #86bbd8;
  --dark: #2f4858;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* align container */
.container__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center__row {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin: 10px 0 0 0;
}
.logo img {
  width: 500px;
  margin-top: 50px;
}

.align__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--dark);
}

p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 22px;
  margin: 2rem 0;
  color: var(--dark);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Landing Area */
#landing__area {
  width: 100%;
  height: 70vh;
  background: url(/imagesAdopcion/bg.jpg);
  background-position: center;
  background-size: cover;
}

#landing__area nav {
  height: 20%;
  width: 80%;
}

nav .logo {
  color: var(--orange);
}

nav a {
  color: var(--light-blue);
  margin: 0 20px;
}
nav a:hover {
  color: var(--orange);
}

.landing__content {
  height: 90%;
  width: 80%;
}

.landing__content .landing__info {
  width: 60%;
  height: 100%;
}

.landing__info h1 {
  color: var(--light-blue);
}
.landing__info p {
  color: var(--light-blue);
  width: 60%;
}

.landing__info button {
  border: none;
  background: transparent;
  outline: none;
}

.landing__info button:active {
  transform: translateY(2px);
}

.landing__info a {
  color: var(--dark-blue);
  background-color: var(--orange);
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

.image__pet {
  width: 40%;
  height: 100%;
  background: url(/imagesAdopcion/pet_img.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Adoption Section*/
#help {
  width: 80vw;
  max-width: 1200px;
  margin: 3rem auto;
}

.help__cards--container {
  padding: 2rem;
}

#help .help__card {
  position: relative;
  margin: 0 5%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  padding: 60px 10px;
}

.help__card:first-of-type {
  background-color: var(--red);
}
.help__card:nth-of-type(2) {
  background-color: var(--orange);
}
.help__card:nth-of-type(3) {
  background-color: var(--light-blue);
}

.help__card h3,
.help__card p {
  color: white;
}

.help__card span {
  position: absolute;
  top: 3%;
  left: 0;
  background: white;
  padding: 5px;
  color: var(--red);
}

.help__card:first-of-type span {
  color: var(--red);
  font-size: 140%;
}
.help__card:nth-of-type(2) span {
  color: var(--orange);
  font-size: 140%;
}
.help__card:nth-of-type(3) span {
  color: var(--light-blue);
  font-size: 140%;
}

.help__card .card__link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99;
  opacity: 0;
}

.help__card:hover .card__link {
  animation: showLink;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.card__link a {
  background-color: var(--dark-blue);
  color: var(--orange);
  padding: 10px 20px;
  border-radius: 20px;
}

@keyframes showLink {
  0% {
    opacity: 10;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

/* Gallery*/
#gallery {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 33%);
  margin: 2rem 0;
}

.img__gallery {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

#img-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
#img-2 {
  grid-column: 1/2;
  grid-row: 3/4;
}
#img-3 {
  grid-column: 2/3;
  grid-row: 3/4;
}
#img-4 {
  grid-column: 3/4;
  grid-row: 1/2;
}
#img-5 {
  grid-column: 3/4;
  grid-row: 2/4;
}
#img-6 {
  grid-column: 4/6;
  grid-row: 3/4;
}
#img-7 {
  grid-column: 4/5;
  grid-row: 2/3;
}
#img-8 {
  grid-column: 4/6;
  grid-row: 1/2;
}
#img-9 {
  grid-column: 5/6;
  grid-row: 2/3;
}

/* Adoption Form */
form {
  width: 60vw;
  max-width: 800px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

form .form__row {
  width: 100%;
  position: relative;
}

.form__row input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: solid 1px var(--light-blue);
  outline: none;
}

.form__raw span {
  color: var(--red);
}

/* Hide arrows form input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__row label {
  position: absolute;
  bottom: 2px;
  left: 2px;
  color: var(--red);
  font-size: 14px;
  transition: 0.5s;
}

.form__row span {
  position: absolute;
  bottom: 2px;
  left: 2px;
  color: var(--red);
  font-size: 14px;
  transition: 0.5s;
}

input:focus ~ label {
  top: -5px;
  font-size: 10px;
  color: var(--dark-blue);
}

textarea {
  width: 100%;
  height: 30px;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid var(--light-blue);
  outline: none;
  appearance: none;
  resize: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

textarea::placeholder {
  color: var(--dark-blue);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea::placeholder {
  color: var(--dark-blue);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form button {
  background-color: var(--dark-blue);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--light-blue);
  cursor: pointer;
  width: 60%;
  margin: 5px;
}

form button:active {
  transform: scale(0.99);
}

/* Footer */
footer {
  background-color: var(--orange);
}

.footer__cont {
  width: 60%;
  margin: auto;
}

.footer__cont p {
  color: var(--dark-blue);
}

.footer__cont .fab {
  color: var(--light-blue);
  font-size: 20px;
  margin: 0 10px;
}

footer .social{
  display: flex;
  align-items: center;
}

/* Adopcion Perros  */

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product1 .pro img {
  width: 100%;
  height: 62%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14 px;
  transition: 0.2s;
}
#product1 .pro:hover .des h5 {
  color: #088156;
}
#product1 .pro .des i {
  font-size: 15px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088156;
}
#product1 .pro .house {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088156;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.2s;
}

#product1 .pro .house:hover {
  color: #fff;
  background: #088156;
  font-weight: 400;
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

/* Media Queries */

@media (max-width: 768px) {
  body {
    width: 100%;
  }

  h1 {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--dark);
  }

  #landing__area {
    width: 110%;
    height: 70vh;
  }

  .logo img {
    width: 400px;
    margin-top: 30px;
    margin-right: 40px;
  }

  .center__row {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .landing__content {
    height: 90%;
    width: 80%;
    position: relative;
  }

  .landing__content .landing__info {
    width: 110%;
    height: 100%;
  }

  .image__pet {
    position: absolute;
    z-index: 100;
    left: 220px;
    top: 50px;
  }

  #help {
    margin: 3rem auto;
  }

  #help .help__card {
    margin: 10px;
  }

  form {
    display: block;
    width: 80vw;
  }

  .form__row input {
    height: 60px;
  }

  .form__raw span {
    font-size: 18px;
  }
  #text {
    font-size: 18px;
  }

  label {
    display: inline-block;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 18px;
  }

  .form__row label {
    bottom: 3px;
    left: 5px;
    font-size: 20px;
  }

  div.form_raw {
    font-size: 18px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  footer .social{
    padding-bottom: 10px;
}
}
