@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  /*   font-family: "Montserrat", sans-serif; */
  letter-spacing: 0.03rem;
}

.section-p1 {
  padding: 40px 80px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

header.main-header {
  background-color: #ff4500;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}

section.header-contact {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  border-bottom: 0.5px solid #ffffff;
  font-size: 11px;
  background-color: #ff4500;
}

section.header-contact .phone {
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
}

section.header-contact .whatsapp {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 9px 0 9px;
}

.hamburguer-button {
  color: #ffffff;
  display: block;
  max-width: 100px;
  font-size: 35px;
}

.top-header .logo {
  width: 60%;
  height: 20%;
}

.top-header .logo img {
  width: 100%;
}

.top-header__incons i {
  color: #ffffff;
  padding-left: 5px;
}

.top-header .top-header__incons .ocultar {
  display: none;
  text-decoration: none;
  color: #ffffff;
  text-align: justify;
  font-size: 12px;
}

header div.container-search {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 11px;
  width: 100%;
}

.lupa {
  color: #000000;
  border: none;
  background-color: #ffffff;
  height: 40px;
  font-size: 20px;
  border-top: 1px solid rgba(62, 64, 65, 0.1);
  border-bottom: 1px solid rgba(62, 64, 65, 0.1);
  border-left: #ff4500 2px solid;
  padding-left: 2px;
}

.posicion-lupa {
  text-align: center;
  position: relative;
  bottom: -9px;
}

.input_text {
  width: 100%;
  border: none;
  height: 40px;
  border-top: 1px solid rgba(62, 64, 65, 0.1);
  border-bottom: 1px solid rgba(62, 64, 65, 0.1);
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  /*listas que estan en el main-navbar*/
  list-style: none;
}

.main-navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 5px 0px;
  font-size: 11px;
}
.main-navbar#cart {
  display: none;
}

section.banner img {
  width: 100%;
}

.container-pet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 12px 0px;
}

.container-pet .card {
  border-radius: 8px;
  box-shadow: 0 0 5px #ff4500;
  margin: 5px;
  text-align: center;
  width: 45%;
  cursor: pointer;
}

.container-pet .card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container-pet .card h4 {
  font-weight: 600;
}

.container-pet .card p {
  padding: 0 1rem;
  font-size: 13px;
  font-weight: 400;
}

.container-pet .card a {
  font-weight: bold;
  text-decoration: none;
  color: #4b4b4b;
  font-size: 14px;
}

.container-pet .card a:hover {
  color: #ecc02a;
  transition: 20ms;
}

footer {
  background-color: #ff4500;
  text-align: center;
  padding: auto;
}

footer div.footer-category {
  padding: 10px;
}

footer div ul {
  list-style: none;
}

footer div a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  /*display: inline-block;*/
  /* padding: 5px 0px; */
  font-size: 14px;
}

footer div.footer-fee {
  padding: 10px 0;
}

footer div.footer-contacts {
  padding: 10px 0;
}

footer div.footer-contacts li {
  padding: 0 5px;
}

footer div.footer-contacts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

footer div.copyright {
  padding-bottom: 5px;
}

/* Vista de Productos */

main div.productos_alimentos {
  margin: 10px 0px;
}

div.banner-product {
  background-image: url(/images/banner-product.png);
  width: 100%;
  height: 90px;
  background-size: 350px 100px;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-color: #ff4500;
}

main div.productos_alimentos h2 {
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 22px;
  color: #4b4b4b;
  text-align: center;
}

main .container-pet .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

main .container-pet .card img {
  padding: 0px 15px;
}

main .container-pet .card div {
  display: flex;
  align-items: center;
  font-size: 8px;
  width: 40px;
  height: 40px;
  background-color: #39b54a;
  border-radius: 100%;
  color: white;
  position: absolute;
  bottom: 118px;
  left: 25px;
}

main .container-pet .card span.name_product {
  color: #4b4b4b;
  line-height: 15px;
  font-weight: 700;
  font-size: 10px;
  padding: 0px 1px;
}

main .container-pet .card span.detail_product p.price {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: #ff4500;
  padding-top: 18px;
  padding-bottom: 3px;
}

main .container-pet .card span.detail_product p.discount {
  font-size: 9px;
}

main div.filtered_products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.filtered_products .filtered_top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: #ff4500 solid 1px;
  width: 50%;
  height: 3em;
  color: #4b4b4b;
}

.filtered_products .filtered_bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: #ff4500 solid 1px;
  width: 50%;
  height: 3em;
  color: #4b4b4b;
}

@media (min-width: 768px) {
  .main-header .header-contact {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    font-size: 13px;
  }

  .top-header {
    justify-content: space-between;
    align-items: center;
    margin: 0 9px;
  }

  .hamburguer-button {
    font-size: 45px;
    padding-left: 10px;
  }

  header div.container-search {
    justify-content: center;
  }

  .input_text {
    width: 50%;
  }

  .top-header__incons i {
    color: #ffffff;
    padding-right: 10px;
    font-size: 30px;
  }

  /* .main-navbar {
    display: flex;
    justify-content: space-between;
  

  .main-navbar ul a {
    font-size: 12px;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    margin: 0 5px;
  }

  */

  main div.container-pet .card {
    width: 20%;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    position: relative;
  }

  footer div.footer-category {
    text-align: left;
    margin: 0 9px;
  }

  footer div.copyright {
    position: absolute;
    left: 242px;
    bottom: 8px;
  }

  footer i {
    font-size: 20px;
  }

  /* Vista de Productos tablet*/

  div.banner-product {
    width: 100%;
    height: 80px;
    border-top: #ffffff solid 0.1px;
    background-image: url(/images/banner-product.png);
    background-repeat: repeat;
    background-size: 350px 100px;
    background-position: center;
  }
}

@media (min-width: 1200px) {
  .top-header .logo {
    width: 30%;
    height: 20%;
  }

  div.container {
    max-width: 1200px;
  }

  .hamburguer-button {
    display: none;
  }

  .input_text {
    width: 100%;
  }

  .top-header .top-header__incons {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  .top-header .top-header__incons .ocultar {
    display: inline;
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font-size: 12px;
    width: 40%;
  }

  header div.container-search {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    width: 40%;
  }

  section.header-contact {
    border-bottom: 0;
    padding: 0;
    font-size: 13px;
    display: none;
  }

  .main-navbar {
    display: flex;
    justify-content: center;
  }

  .main-navbar ul a {
    font-size: 12px;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    margin: 0 15px;
  }

  main div.container-pet .card img {
    width: 100%;
  }

  main div.container-pet .card .image_prod {
    width: 100%;
    height: 157.72px;
  }

  main div.container-pet .card {
    width: 20%;
  }

  footer div.copyright {
    position: absolute;
    left: 449px;
    bottom: 8px;
  }

  /* Vista de Productos monitor*/

  main div.filtered_products {
    display: none;
  }
}

/*! ARRANCA EL NUEVO CÓDIGO DEL CARRITO */

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

body {
  max-width: 100vw;
  font-family: "Signika Negative", sans-serif;
}

.cart .product__conteiner img {
  max-width: 100px;
}

.title {
  margin: 15px;
  /*   border: 2px solid black; */
}
.product__conteiner {
  margin: 10px;
  border: 2px solid lightgray;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.107);
}
.titulosProd {
  display: none;
}
.card__art {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
}

.marca__prod {
  display: none;
}
.price__prod {
  display: none;
}
.cant {
  width: 30px;
  height: 30px;
}

.prod__cant__conteiner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.prod__container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.prod__cant__maqueta {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.sumayresta {
  width: 30px;
  height: 30px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.desc__prod {
  font-size: 1.5rem;
  width: 100%;
  padding: 10px;
}
.tacho {
  font-size: 1.5rem;
  padding: 2%;
  position: absolute;
  right: 0;
}

.vaciar__carro {
  margin: 20px;
}
.vaciar__carro a {
  color: gray;
}
/*? CÓDIGO PROMOCIONAL */

.prom__conteiner {
  display: flex;
  width: 95vw;
  text-align: center;
  margin: auto;
  flex-direction: column;
  background-color: rgba(230, 230, 230, 0.207);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  align-items: flex-start;
}
.prom__conteiner .code {
  margin: 10px 0 10px 0;
}

.valid__code {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.insert__code {
  width: 55%;
  height: 40px;
  padding: 10px;
}
.insert__btn {
  width: 45%;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: gray;
  color: white;
}

/*? RESUMEN DE COMPRA */

.resume__conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 95vw;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.title__resume {
  height: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
  border-bottom: 1px solid grey;
}

.price__products__conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.price__products__conteiner .price__products {
  font-size: 1.1rem;
  padding: 5px;
}
.price__products__conteiner .price__products__item {
  font-size: 1rem;
  padding: 5px;
}
.total__disc__conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.total__disc__conteiner .total__disc {
  font-size: 1.1rem;
  padding: 5px;
}
.total__disc__conteiner .total__disc__item {
  font-size: 1rem;
  padding: 5px;
}
.total__compra__conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.total__compra__conteiner .total__compra {
  font-size: 1.4rem;
  padding: 5px;
  font-weight: 500;
}
.total__compra__conteiner .total__compra__item {
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.buttons .cont__compra .cont__compra__button {
  width: 100%;
  background-color: #f9bb10;
  margin-bottom: 30px;
  align-items: center;
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 2rem;
}
.buttons .elegirmasproductos {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .maqueta__pc {
    display: flex;
    /*     background-color: lightsalmon; */
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .maq__con__vaciar__cart {
    display: flex;
    flex-direction: column;
    width: auto;
    width: 55%;
  }
  .maqueta__pc .product__conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: start;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 1rem;
    padding: 15px;
    margin: 15px;
  }

  .maqueta__pc .barra__derecha {
    display: flex;
    flex-direction: column;
    width: 40%;
    /*    background-color: #f9bb10; */
    padding: 15px;
    margin: 15px;
  }
  .prom__conteiner {
    width: 100%;
  }

  .resume__conteiner {
    width: 100%;
  }
  .prod__cant__maqueta {
    width: 100%;
    justify-content: flex-start;
  }
  section {
    width: 100%;
  }
  .titulosProd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .tacho {
    display: none;
  }
  .card__art {
    display: flex;
    flex-direction: row;
  }
  .img__conteiner {
    width: 20%;
    margin: auto;
  }
  .marca__prod,
  .price__prod {
    display: unset;
  }
  .prod__cant__conteiner {
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
  .prod__cant__maqueta {
    width: 100%;
  }
  .prod__cant__maqueta .img__conteiner {
    width: 50px;
    height: auto;
  }
  .prod__cant__maqueta .img__conteiner img {
    width: 50px;
  }
  .desc__prod {
    display: flex;
    flex-direction: column;
  }
  .prod__container {
    width: min-content;
  }
  section {
    position: relative;
  }
  .titulosProd .prod {
    position: relative;
    left: 5em;
    width: auto;
  }
  .titulosProd .cant {
    position: absolute;
    right: 80px;
    width: auto;
  }
  .titulosProd .tot {
    position: relative;
    right: 0.1em;
    width: auto;
  }
  .desc__prod h4 {
    font-size: 1rem;
    font-weight: 200;
  }
  .desc__prod h3 {
    font-size: 1.1rem;
    font-weight: 400;
  }
}

/* ?--------------------------------------------------------- */

/*!  INICIA EL LOGIN  */
.login {
  background: #ddd;
  background-image: url(./images/SL-100420-36140-29.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.logIn__conteiner {
  padding: 30px 15px;
  width: 95vw;
  margin: auto;
  background-color: hsla(0, 0%, 100%, 0.85);
}

.frase_motivadora {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #ff4500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grupo_registro {
  /*     border: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.grupo_registro .elementoA {
  padding: 10px 0 3px 0;
  font-size: 0.9rem;
}

.grupo_registro .elementoB {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.crear_cuenta {
  margin: auto;
  text-align: center;
  padding: 20px;
}
.crear_cuenta input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: yellow;
  font-weight: 700;
  font-size: 1.2rem;
}

.crear_cuenta p {
  padding: 10px 0;
}
.crear_cuenta .inicia_sesion {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.crear_cuenta .inicia_sesion :hover {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .logIn__conteiner {
    width: 500px;
  }
}

.agregarProducto {
  margin: 0;
  font-family: sans-serif;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./images/SL-100420-36140-29.jpg);
  background-blend-mode: darken;
  background-size: cover;
}

.form-register {
  width: 95%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.85);
}

.form__title {
  margin-top: 0;
  font-size: 1.7rem;
  text-align: center;
}

.form__label,
.form__input {
  display: block;
}

.form__label {
  width: 30%;
}
.form__input {
  width: 70%;
}

.form__file {
  font-size: 1em;
  margin: 10px 0;
  width: 70%;
}

.container--flex {
  display: flex;
  margin: 25px 0;
  align-items: center;
  justify-content: space-evenly;
}

.form__submit {
  width: 100px;
  background: rgb(54, 206, 193);
  padding: 10px;
  border: none;
  color: white;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  align-items: center;
}

/* Detalle de Productos */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
  color: #088156;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: #088156;
  color: #fff;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #prodetails {
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
}

/* Para ERROR 404 */

.error--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner--ph {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.conteiner--ph img {
  width: 360px;
}
.label_404-arriba {
  background-color: #ff4500;
  padding: 2px 15px 0 15px;
  border-radius: 10px;
  margin: 10px;
  color: white;
}
.label_404-abajo {
  background-color: #ff4500;
  padding: 2px 15px 0 15px;
  border-radius: 10px;
  margin: 10px;
  color: white;
}

@media (min-width: 768px) {
  .error--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .label_404-arriba{
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
  }
  .conteiner--ph{
    grid-column: 1/3;
    grid-row: 2;
  }
  .label_404-abajo{
    grid-column: 3/5;
    grid-row: 2;
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  
}
