<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styleAdopcion.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <title>Adopciones Pet Paradise</title>
  <link rel="shortcut icon" href="/images/iconoParadise2.ico" />
  <script
    src="https://kit.fontawesome.com/03e8e208c1.js"
    crossorigin="anonymous"></script>
</head>
