    <section id="landing__area" class="container__center">
      <nav class="center__row">
        <h1 class="logo"><img src="/imagesAdopcion/logoPep3.png" /></h1>
        <ul class="center__row"></ul>
      </nav>
      <div class="landing__content center__row">
        <div class="landing__info align__left">
          <h1>
            Ayudando Peludos. <br />
            Salvando Vidas.
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aut
            ea fuga cum? Odit, sed culpa harum laborum excepturi quibusdam!
          </p>
          <button><a href="#/">Quiero Adoptar</a></button>
        </div>
        <div class="image__pet"></div>
      </div>
    </section>