<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="agregarProducto">
      <form action="" class="form-register" enctype="multipart/form-data">
        <h1 class="form__title">Agregar nuevo producto</h1>

        <div class="container--flex">
          <label for="" class="form__label">Nombre del producto:</label
          ><input
            type="text"
            class="form__input"
            name="name"
            placeholder="p.ejemplo: Pedigre Premium"
            required
          />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Descripción del producto:</label
          ><input
            type="text"
            class="form__input"
            name="description"
            placeholder="p.ejemplo: Alimento para perros a base de pollo"
            required
          />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Categoria:</label
          ><input
            type="text"
            class="form__input"
            name="category"
            placeholder="Alimento"
            required
          />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Tamaño:</label
          ><input
            type="text"
            class="form__input"
            name="size"
            placeholder="p.ejemplo: 1kg - 3kg - 5kg"
            required
          />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Foto del producto:</label
          ><input type="file" class="form__file" name="picture" />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Precio:</label
          ><input
            type="text"
            class="form__input"
            name="price"
            placeholder="1500"
            required
          />
        </div>
        <div class="container--flex">
        <input type="submit" class="form__submit" />
    </div>
    </form>
    </div>

    <footer>
      <div class="footer-category">
        <p><strong>Categorias</strong></p>
        <ul>
          <li>
            <a href="#">Perros <i class="fa-solid fa-dog"></i></a>
          </li>
          <li>
            <a href="#">Gatos <i class="fa-solid fa-cat"></i></a>
          </li>
          <li>
            <a href="#">Alimentos <i class="fa-solid fa-bone"></i></a>
          </li>
          <li>
            <a href="#">Juguetes <i class="fa-solid fa-shield-dog"></i></a>
          </li>
          <li>
            <a href="#">Adopción <i class="fa-solid fa-paw"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-fee">
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <i class="icons-footer fa-solid fa-credit-card"></i>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-solid fa-money-bill"></i>
      </div>
      <div class="footer-contacts">
        <p><strong>Contáctanos</strong></p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li>
            <a
              href="mailto:moiseszuleta02@hotmail.com;juan.solis.trabajo@gmail.com;valentinlanzillotta@hotmail.com;andrea.aguah@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p>Copyright © 2022 Petparadise S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
