<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <section class="banner">
      <img src="images/banner.jpg" alt="Banner de ofertas" />
    </section>

    <main>
      <div class="container-pet">
        <article class="card">
          <img src="images/pet/imagen11a-1200x800.jpg" alt="" />
          <h4>Coco</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio dolores explicabo
          </p>
          <a href="#">Leer mas...</a>
        </article>
        <article class="card">
          <img src="images/pet/imagen14a-1200x800.jpg" alt="" />
          <h4>Thor</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio dolores explicabo
          </p>
          <a href="#">Leer mas...</a>
        </article>
        <article class="card">
          <img src="images/pet/imagen16a-1200x800.jpg" alt="" />
          <h4>Rocky</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio dolores explicabo
          </p>
          <a href="#">Leer mas...</a>
        </article>
        <article class="card">
          <img src="images/pet/imagen20a-1200x800.jpg" alt="" />
          <h4>Bruno</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio lorem ipsum sit dolores
          </p>
          <a href="#">Leer mas...</a>
        </article>
      </div>
      <div class="container-pet">
        <article class="card">
          <img class="image_prod" src="images/product/producto.jpg" alt="" />
          <h4>Purina 23kg</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio dolores
          </p>
          <a href="#">Leer mas...</a>
        </article>
        <article class="card">
          <img class="image_prod" src="images/product/producto.jpg" alt="" />
          <h4>Purina 35kg</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio dolores
          </p>
          <a href="#">Leer mas...</a>
        </article>
        <article class="card">
          <img class="image_prod" src="images/product/productob.jpg" alt="" />
          <h4>Ünik 15kg</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio dolores
            <a href="#">Leer mas...</a>
          </p>
        </article>

        <article class="card">
          <img class="image_prod" src="images/product/productoc.jpg" alt="" />
          <h4>Old Price 17kg</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
            corrupti! Quisquam distinctio dolores
          </p>
          <a href="#">Leer mas...</a>
        </article>
      </div>
      <div class="container_category">
        <h1>Comprá por categoría</h1>
        <section class="category_list">
          <div class="category_item" category="">
            <img src="/images/aliment_icon.png" alt="" />
            <h3>Alimento Balanceado Perro</h3>
            <a href="/products/buscar?categoria=1">VER TODOS</a>
          </div>
          <div class="category_item" category="">
            <img src="/images/higiene_icon.png" alt="" />
            <h3>Higiene</h3>
            <a href="/products/buscar?categoria=2">VER TODOS</a>
          </div>
          <div class="category_item" category="">
            <img src="/images/juguetes_icon.png" alt="" />
            <h3>Juguetes</h3>
            <a href="/products/buscar?categoria=3">VER TODOS</a>
          </div>
          <div class="category_item" category="">
            <img src="/images/antipulgas_icon.png" alt="" />
            <h3>Antipulgas</h3>
            <a href="/products/buscar?categoria=4">VER TODOS</a>
          </div>
          <div class="category_item" category="">
            <img src="/images/aliment_icon.png" alt="" />
            <h3>Alimento Balanceado Gatos</h3>
            <a href="/products/buscar?categoria=5">VER TODOS</a>
          </div>
          <div class="category_item" category="">
            <img src="/images/snack_icon.png" alt="" />
            <h3>Snacks</h3>
            <a href="/products/buscar?categoria=6">VER TODOS</a>
          </div>
        </section>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
