<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="logIn__conteiner">
          
        <div class="grupo_registro">
          <label class="elementoA" for="email">EMAIL</label>
          <input
            class="elementoB"
            type="email"
            name="mail"
            id="mail"
            placeholder="Ejemplo: liomessi@gmail.com"
          />
        </div>
     
      <div class="grupo_registro">
        <label class="elementoA" for="pass">CONTRASEÑA</label>
        <input class="elementoB" type="password" name="name" id="contraseña" />
      </div>
     
      <div class="crear_cuenta">
        <input type="button" value="CREAR CUENTA" />
        <p>
          ¿No tenés cuenta?
          <a class="inicia_sesion" href="/register">Crear cuenta</a>
        </p>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
