<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <main class="horizontal-container">
      <img src="/images/product/alimento1.png" alt="" />

      <div class="product-description-container">
        <div>ENVIO GRATIS</div>
        <span class="name_product product-detail-title">
          OLD PRINCE NOVEL CYA ADULTOS MED&LARGE X 15+3 KG
        </span>

        <p>Esto esta muy rico para tu perrito</p>

        <span class="detail_product">
          <p class="price">$7.620</p>
          <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
        </span>

        <div class="horizontal-container">
          <div class="horizontal-container">
            <button class="amount-button amount-button-left">+</button>
            <span class="button-border">Cantidad</span>
            <button class="amount-button amount-button-right">-</button>
          </div>

          <div class="padding-8"></div>
          <button class="padding-8 add-cart-button button-border">
            Agregar al carrito
          </button>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-category">
        <p><strong>Categorias</strong></p>
        <ul>
          <li>
            <a href="#">Perros <i class="fa-solid fa-dog"></i></a>
          </li>
          <li>
            <a href="#">Gatos <i class="fa-solid fa-cat"></i></a>
          </li>
          <li>
            <a href="#">Alimentos <i class="fa-solid fa-bone"></i></a>
          </li>
          <li>
            <a href="#">Juguetes <i class="fa-solid fa-shield-dog"></i></a>
          </li>
          <li>
            <a href="#">Adopción <i class="fa-solid fa-paw"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-fee">
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <i class="icons-footer fa-solid fa-credit-card"></i>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-solid fa-money-bill"></i>
      </div>
      <div class="footer-contacts">
        <p><strong>Contáctanos</strong></p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li>
            <a
              href="mailto:moiseszuleta02@hotmail.com;juan.solis.trabajo@gmail.com;valentinlanzillotta@hotmail.com;andrea.aguah@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p>Copyright © 2022 Petparadise S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
