<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>

        <div class="banner-product">
            <!-- <img src="/images/banner-product(1).png" alt="Banner de productos"> -->
        </div>
      
        <main>
            <div class="productos_alimentos">
                <h2>ALIMENTOS</h2>
            </div>

            <div class="filtered_products">
                <span class="filtered_top">
                    ORDENAR POR
                </span>
                <span class="filtered_bottom">
                    FILTRAR
                </span>
            </div>

            <div class="container-pet">
                <article class="card">
                    <img src="/images/product/alimento1.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        OLD PRINCE NOVEL CYA ADULTOS MED&LARGE X 15+3 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                    </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento2.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        EXCELLENT SMART FORMULA PERRO ADULTO 20 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                    </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento3.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        OLD PRINCE PERRO ADULTO EQUILIBRIUM MEDIANO Y GRANDE X 20 + 3 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                    </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento4.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        PRO PLAN PERRO ADULTO PEQUEÑO X 7.5 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                    </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento5.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        VITALCAN COMPLETE PERRO ADULTO RAZA MED/GDE X 20 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                    </span>
                </article>
                <article class="card">
                        <img src="/images/product/alimento6.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        VITALCAN BALANCED PERRO ADULTO MEDIANO X 20 + 2 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                    </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento7.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        ROYAL CANIN MINI ADULTO X 7.5 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                    </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento8.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        EXCELLENT PERRO ADULTO SKIN CARE X 15 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                        </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento9.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        EXCELLENT SMART ADULTO MEDIANO Y GRANDE 20 + 2 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                        </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento10.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        VITALCAN COMPLETE PERRO ADULTO RAZA MED/GDE X 20 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                        </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento10.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        VITALCAN COMPLETE PERRO ADULTO RAZA MED/GDE X 20 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                        </span>
                </article>
                <article class="card">
                    <img src="/images/product/alimento10.png" alt="">
                    <div>ENVIO GRATIS</div>
                    <span class="name_product">
                        VITALCAN COMPLETE PERRO ADULTO RAZA MED/GDE X 20 KG
                    </span>
                    <span class="detail_product">
                        <p class="price">$7.620</p>
                        <p class="discount">Hasta 3 cuotas sin interés de $2.540</p>
                        </span>
                </article>
            </div>
        </main>

        <%- include('./partials/footer') %>
    </body>
</html>
