<header class="main-header">
    <div class="top-header">
        <img src="images/logoPepModi2.png" alt="logo" class="logo"><!--Acá va air el logo-->
        <h1 id="title">Pet Paradise</h1>
        <div class="container-search">
            <input type="search" class="input_text" placeholder="Buscar productos, marcas">
            <a href="" class="lupa">
            <i class="posicion-lupa fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
    </div>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">QUIÉNES SOMOS</a></li>
            <li><a href="#">NOTICIAS</a></li>
            <li><a href="#">DONATIVOS</a></li>
            <li><a href="#">ADOPCIÓN</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="#">CREÁ TU CUENTA <i class="fa-solid fa-credit-card"></i></a></i></li>
            <li><a href="#">INGRESÁ <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/cart">MIS COMPRAS <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </nav>    
</header>