<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <%- include("./partialsAdopciones/headAdopciones.ejs") %>
  <body>
    <%- include("./partialsAdopciones/headerAdopciones.ejs") %>

    <form action="/addPet/save" method="post" enctype="multipart/form-data">
      <div class="form__row">
        <input type="text" id="namePet" name="namePet" required />
        <label for="namePet">Nombre de la Mascota</label>
      </div>

      <div class="form__row">
        <input type="email" id="emailPet" name="emailPet" required />
        <label for="emailPet">Email Contacto</label>
      </div>
      <div class="form__row">
        <input type="number" id="phonePet" name="phonePet" required />
        <label for="phonePet">Telefono</label>
      </div>
      <div class="form__row">
        <input type="number" id="edadPet" name="edadPet" required />
        <label for="edadPet">Edad</label>
      </div>
      <div class="form__row">
        <input type="text" id="ciudadPet" name="cityPet" required />
        <label for="ciudadPet">Ciudad</label>
      </div>

      <div class="form__row">
        <input type="number" id="cpPet" name="cpPet" required />
        <label for="cpPet">CP</label>
      </div>

      <div class="form__raw">
        <span>Tipo de Mascota</span><br />
        <label>
          <input
            type="radio"
            id="newPetPerro"
            name="newPetType"
            value="perro" />
          Perro
        </label>
        <label>
          <input type="radio" id="newPetGato" name="newPetType" value="gato" />
          Gato
        </label>
        <label>
          <input
            type="radio"
            id="newPetOtro"
            name="newPetType"
            value="otroAnimal" />
          Otro
        </label>
      </div>

      <div class="form__raw">
        <span>Tamaño</span><br />
        <label>
          <input
            type="radio"
            id="sizeNewPetSmall"
            name="sizeNewPet"
            value="pequeño"
            required />
          Pequeño
        </label>
        <label>
          <input
            type="radio"
            id="sizeNewPetMedium"
            name="sizeNewPet"
            value="mediano"
            required />
          Mediano
        </label>
        <label>
          <input
            type="radio"
            id="sizeNewPetbig"
            name="sizeNewPet"
            value="grande"
            required />
          Grande
        </label>
      </div>

      <div class="form__raw">
        <span>Sexo de la Mascota</span><br />
        <label>
          <input
            type="radio"
            id="genderFemale"
            name="gender"
            value="hembra"
            required />
          Hembra
        </label>
        <label>
          <input
            type="radio"
            id="genderMale"
            name="gender"
            value="macho"
            required />
          Macho
        </label>
      </div>

      <div class="form__raw">
        <span>¿La Mascota esta vacunada?</span><br />
        <label>
          <input type="radio" id="vacunaSi" name="vacuna" value="si" required />
          Si
        </label>
        <label>
          <input type="radio" id="vacunaNo" name="vacuna" value="no" required />
          No
        </label>
      </div>

      <div class="form__raw">
        <span>¿La Mascota esta castrada?</span><br />
        <label>
          <input
            type="radio"
            id="castradaSi"
            name="castrada"
            value="si"
            required />
          Si
        </label>
        <label>
          <input
            type="radio"
            id="castradaNo"
            name="castrada"
            value="no"
            required />
          No
        </label>
      </div>

      <div class="form__raw">
        Descripcion de la personalidad de la mascota
        <textarea
          id="textarea"
          name="descriptions"
          cols="30"
          rows="10"
          placeholder="Completar aqui"
          required></textarea>
      </div>

      <div class="form__raw">
        <span>¿Era la Mascota habitante de calle?</span><br />
        <label>
          <input
            type="radio"
            id="origenStreetSi"
            name="origenStreet"
            value="si"
            required />
          Si
        </label>
        <label>
          <input
            type="radio"
            id="origenStreetNo"
            name="origenStreet"
            value="no"
            required />
          No
        </label>

        <div class="form__raw">
          <label class="elementoA" for="pass">Foto de la Mascota:</label>
          <input
            class="elementoB form-control"
            type="file"
            name="picturePet"
            id="picturePet"
            accept="image/*" />
        </div>
      </div>

      <button type="submit">Registrar Mascota</button>
    </form>

    <%- include("./partialsAdopciones/galleryAdopciones.ejs") %> <%-
    include("./partialsAdopciones/footerAdopciones.ejs") %>
  </body>
</html>
