<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <div class="agregarProducto">
      <form
        action="/products/create"
        method="POST"
        class="form-register"
        enctype="multipart/form-data"
      >
        <h1 class="form__title">Agregar nuevo producto</h1>

        <div class="container--flex">
          <label for="" class="form__label">Nombre del producto:</label
          ><input
            type="text"
            class="form__input"
            name="name"
            placeholder="p.ejemplo: Pedigre Premium"
            required
          />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Descripción del producto:</label
          ><input
            type="text"
            class="form__input"
            name="descriptions"
            placeholder="p.ejemplo: Alimento para perros a base de pollo"
            required
          />
        </div>
<!--         <div class="container--flex">
          <label for="" class="form__label">Categoria:</label
          ><input
            type="text"
            class="form__input"
            name="category"
            placeholder="Alimento"
          />
        </div> -->
        <div class="container--flex">
          <label for="" class="form__label">Tamaños disponibles:</label>
          <ul>
            <li>
              <label>Tamaño:</label>
              <input type="text" name="size"/>
            </li>
            <li><label>Stock:</label> <input type="number" name="stock"/></li>
            <li><label>Precio:</label> <input type="number" name="precio" /></li>
          </ul>
        </div>
     
        <div class="container--flex">
          <label for="" class="form__label">Foto del producto:</label
          ><input type="file" class="form__file" name="image" />
        </div>

        <div class="container--flex">
          <input type="submit" class="form__submit" />
          <a href="/admin"
            ><input type="button" class="form__submit" value="Volver"
          /></a>
        </div>
      </form>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
